<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="PathImportFaculties" value="C:\Users\Desktop\wa\c#_corso\UniversityManagment\Store\Faculty\Faculty.json"/>
		<add key ="PathImportStudents" value="C:\Users\Desktop\wa\c#_corso\UniversityManagment\Store\Student\Students.json"/>
		<add key ="PathImportTeachers" value="C:\Users\Desktop\wa\c#_corso\UniversityManagment\Store\Teacher\Teachers.json"/>	
		<add key ="PathImportExams" value="C:\Users\Desktop\wa\c#_corso\UniversityManagment\Store\Exam\Exams.json"/>	
		<add key ="PathExportFaculties" value="C:\Users\Desktop\wa\c#_corso\UniversityManagment\Store\Faculty\FacultyExported.json"/>	
    </appSettings>
</configuration>